*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(48, 175, 145);
}
button {
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    background-color: #DDD;
}
#container{
    margin: 2rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
}
.el{
    margin: 1rem 0;
    justify-self: center;
    align-self: center;
}
#container-txt {
    margin: 2rem;
    background-color: #DDD;
    border-radius: 25px;
}
#txt {
    margin: 1rem;
    text-align: center;
}

#myProgress {
    width: 50vw;
    background-color: #DDD;
}
  
#myBar {
    height: 3px;
    background-color: #444;
}